@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:root {
  --white: #ffffff;
  --nav: #1a4fd6;
  --lightblue: #1a4fd6;
  --grey: #f1eeef;
  --foot: black;
}
@font-face {
  font-family: "MyWebFont";
  src: url("Nord-Medium.eot"); /* IE9 Compat Modes */
  src: url("Nodrd-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Nord-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("Nord-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */ url("Nord-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("Nord-Medium.svg#svgFontName") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Montserrat", sans-serif;
}
nav {
  background: var(--nav);
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#nav-title {
  font-size: 30px;
  color: var(--white);
  margin-left: 50px;
  font-family: "MyWebFont", fallback, sans-serif;
  letter-spacing: 5px;
}
.links {
  margin-left: 500px;
  display: flex;
  align-items: center;
}
.link {
  color: var(--white);
  text-decoration: none;
  margin-left: 50px;
}
.button-blue {
  background-color: var(--lightblue);
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 50%;
  justify-content: center;
}
.container {
  display: flex;
  margin-top: 10%;
  margin-left: 80px;
}
.header {
  text-transform: uppercase;
  color: var(--nav);
}
h5 {
  font-weight: 100;
}
.spec {
  color: var(--white);
  font-size: 14px;
}
.button-white {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  margin-left: 30px;
  font-size: 12px;
  height: 35px;
  font-size: 14px;
}
.buttons {
  display: flex;
  margin-top: 60px;
}
div[center] {
  text-align: center;
}
h4[blue] {
  color: var(--nav);
}
div[lo] {
  background: var(--grey);
  height: 3000px;
}
.lo-heading {
  padding-top: 80px;
  font-size: 20px;
}
.qualities {
  display: flex;
  width: 100%;
}
.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 250px;
  height: 300px;
  margin-left: 5%;
}
.quality-header {
  font-size: 20px;
}
.quality-des {
  font-size: 12px;
  width: 200px;
}
.quality-r {
  margin-left: 18% !important;
}
h4[offered] {
  padding-right: 7% !important;
}
div[slideshow] {
  height: 200px;
  width: 500px;
  background: var(--white);
}
div[slideshowparent] {
  width: 100%;
  display: flex;
  justify-content: center;
}
div[slide],
div[whyus] {
  background: white;
  height: 300px;
  width: 70%;
  display: flex;
  align-items: center;
}
div[left] {
  width: 40%;
  margin-left: 50px;
}
p[des] {
  font-size: 13px;
}
img[slideimage] {
  margin-left: 80px;
}
.left-button {
  font-size: 50px;
}
.heading {
  font-size: 30px;
}
.top-button-blue {
  border: 2px solid white;
}
h4[vidtitle] {
  margin-top: 20px;
}
div[advantage] {
  text-align: center;
  width: 30%;
  border-right: 1px solid navy;
}
[advantagedes] {
  font-size: 14px;
}
div[rad] {
  padding-left: 30px;
  padding-right: 20px;
}
div[rad2] {
  padding-left: 20px;
  padding-right: 20px;
}
div[lastad] {
  border-right: 0px;
}
div[clientslide] {
  display: flex;
  justify-content: center;
  width: 50%;
}
#vue2 {
  display: flex;
  justify-content: center;
}
div[clienttext] {
  margin-left: 50px;
}
[clientdes] {
  font-size: 14px;
}
[clientrole] {
  font-size: 18px;
  font-weight: 40;
  color: #474555;
}
[clientname] {
  font-size: 20px;
  color: #474555;
}
div[formcontainer] {
  display: flex;
}
.rsvp input[type="text"],
.rsvp input[type="email"] {
  height: 40px;
  width: 200px;
  border: 0px;
  padding-left: 20px;
}
.rsvp {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.rsvp input[type="submit"] {
  background-color: var(--lightblue);
  color: white;
  text-transform: capitalize;
  height: 30px;
  width: 200px;
  border: 0px;
}
.aboutmember {
  width: 300px;
  height: 400px;
  background-color: white;
}
.about {
  display: flex;
  justify-content: space-around;
}
[aboutheader] {
  font-size: 20px;
}
[aboutdes] {
  font-size: 14px;
  width: 80%;
}
[containabout] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
[memberphoto] {
  position: relative;
  top: 50px;
}
[member1] {
  left: 180px;
}
[member2] {
  left: 550px;
}
[member3] {
  left: 920px;
}
footer {
  margin-top: 40px;
  height: 260px;
  width: 100%;
  background-color: var(--foot);
}
[footertop] {
  display: flex;
  color: white;
  justify-content: space-around;
  border-bottom: 2px solid #474555;
}
[midfooter] {
  width: 200px;
}
footer h6 {
  color: #d2d2d2;
}
[icons] {
  display: flex;
  justify-content: space-around;
}
linksinfooter a {
  font-size: 10px;
}
[footerbottom] {
  display: flex;
  justify-content: space-between;
}
res {
  color: white;
  font-size: 10px;
}
